* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
}

body {
    color: black;
    background-size: 100% 100%;
    font-family: "Times New Roman", Times, serif;
}

#container {
    width: 1400px;
    margin: 0 auto;
}

#container .empty {
    background-color: white;
    height: 100px;
}


/* Tạo khung */

#container .menu {
    background: white;
    height: 100px;
    width: 1400px;
    position: fixed;
    box-shadow: 0px 2px 2px rgba(0.5, 0.5, 0.5, 0.5);
    z-index: 2;
}


/* -----------------------Menu ----------------------- */


/* Phần logo */

#container .menu .logo img {
    width: 230px;
    float: left;
    position: relative;
    left: 5px;
    bottom: 80px;
}


/* Phần thanh menu */

#container .menu .menu-left {
    float: left;
    position: relative;
    left: 5px;
    bottom: 10px;
    padding-top: 50px;
}

#container .menu ul {
    list-style-type: none;
    text-align: center;
}

#container .menu ul li {
    color: 00ff00;
    font-weight: bold;
    display: inline-table;
    width: 130px;
    position: relative;
    bottom: 10px;
    font-family: Helvetica;
}

#container .menu ul li>.sub-menu {
    display: none;
    position: absolute;
}

#container .menu ul li a {
    color: black;
    text-decoration: none;
    padding: 14px 5px;
    display: block;
}

#container .menu ul li:hover .sub-menu {
    display: block;
    background: #f2f2f2;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#container .menu ul li a:hover {
    color: yellow;
    background-color: black;
}


/* Phần tìm kiếm và tài khoản  */

#container .menu .menu-right {
    float: right;
    position: relative;
    top: 35px;
    right: 80px;
}

#container .menu .menu-right .account a img {
    width: 23px;
    position: relative;
    left: 160px;
    bottom: 24px;
}

#container .menu .menu-right .cart a img {
    width: 30px;
    position: relative;
    left: 190px;
    bottom: 50px;
}

#container .menu .menu-right input {
    height: 23px;
    width: 120px;
}

#container .menu .menu-right img {
    width: 50px;
}

#container .menu .menu-right form button {
    width: 25px;
    height: 23px;
    position: relative;
    top: 4px;
}

#container .menu .menu-right form button img {
    width: 18px;
    height: 18px;
    position: relative;
    top: 1px;
}


/* -----------------------Menu ----------------------- */


/* -----------------------Content ----------------------- */

#container .Content {
    z-index: 1;
}

#container .Content .chuchay {
    text-align: center;
}

#container .Content .chuchay marquee {
    position: relative;
    top: 3px;
}

.slideshow-container {
    max-width: 1400px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.btn-review {
    text-align: center;
}

.btn-review h2 {
    font-size: 40px;
    font-weight: bold;
}

.btn-review p {
    font-size: 20px;
}

.btn-review .btn-show {
    background-color: #000;
    width: 200px;
    height: 40px;
    margin: 10px 600px;
}

.btn-review a {
    text-decoration: none;
    color: rgb(240, 238, 238);
    line-height: 40px;
    font-size: 20px;
    padding: 10px 45px;
}

.btn-review .btn-show:hover {
    background-color: rgb(252, 238, 222);
}

.btn-review .btn-show:hover a {
    color: #000;
}

.Content .Self-promotion {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.Content .Self-promotion .QC {
    width: 700px;
    float: left;
    overflow: hidden;
    height: 670px;
}

.Content .Self-promotion .QC a img {
    width: 730px;
}

.Content .Self-promotion .new-arrivals {
    background-color: #333F48;
    width: 1400px;
    height: 60px;
    float: left;
}

.new-arrivals h1 {
    display: inline;
    color: white;
    position: relative;
    left: 25px;
    top: 10px;
}

.new-arrivals .option a {
    text-decoration: none;
    color: white;
    margin: 50px;
    font-size: 18px;
}

.new-arrivals .option {
    position: relative;
    display: inline;
    left: 400px;
    top: 7px;
}

.Content .sp-new a {
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}

.Content .sp-new .info .img-sp a img {
    width: 300px;
}

.Content .sp-new .info {
    float: left;
    margin: 20px 20px;
}

.Content .sp-new .info .detail {
    text-align: center;
}


/* -----------------------Content ----------------------- */


/* -----------------------footer ----------------------- */

footer {
    clear: both;
    background-color: #808080;
}

.ketthuc {
    font-weight: bold;
    font-size: 20px;
}

.ketthuc a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

footer b {
    text-transform: uppercase;
    color: #808080;
    font-size: 18px;
}

footer p {
    font-style: italic;
    color: #000;
    font-weight: bold;
}


/* -----------------------footer ----------------------- */